<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="footer">

<div class="footer">
  <div class="container container-footer">
    <div class="col-md-8">
      <h4>PET'S STORE - Cửa hàng dành cho thú cưng</h4>
      <p>Địa chỉ: HUTECH Thuduc Campus - Khu CNC, Phường Hiệp Phú, Tp. Thử Đức, Tp. Hồ chí Minh</p>
      <p>SĐT: <a class="info" href="tel:0868895261">086.8895.261</a> (......)</p>
      <p>Email: <a class="info" href="mailto: 12345@gmail.com">12345@gmail.com</a></p>
    </div>

    <div class="col-md-4">
      <img th:src="@{User/images/banner-1.png}" alt="logo"/>
      <p></p>
      <p>Số lượng truy cập hiện tại: 100</p>
    </div>
  </div>
</div>
</body>
</html>